<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NYTIMES</title>
    </head>
    
    <body>
        <!-- Account sidebar management, prints out email top left then greeting. Gives option to close and log out-->
        <div id="account-sidebar" class="sidebar hidden">
            <div class="sidebar-inner">
                <div class ="sidebar-header">
                    <span class="sidebar-email">{{ user.email }}</span>
                    <button id="close-sidebar">X</button>
                </div>
                <p class="sidebar-welcome"> Good Afternoon!</p>
                <div class="logout-container">
                    <button class="logout-btn"><a href="/logout">Log out</a></button>
                </div>
            </div>
        </div>
        <!-- Comment sidebar, allows user to post comments, close comments,-->
        <div id="comment-sb" class="sidebar hidden">
            <div class ="sidebarinner">
                <div class="sidebarhdr">
                    <span>Comments</span>
                    <button id="close-commentsb">X</button>
                </div>
                <div class="comments-content">
                    <div class="comments-list"></div>
                        <form id="comment-form">
                            <textarea id="comment-text" rows="1" placeholder="Add a Comment..." required></textarea>
                            <input type="hidden" id="article-id" value="">
                            <button type="submit">Post Comment</button>
                        </form>
                </div>
            </div>
        </div>
        <!-- h1 with class "title-header" used to display the title New York Times at the top of the page -->
        <header class="header-wrapper">
        <div class="header-bar">
            <div class="header-left">
                <span id="date"></span>
                <p>Today's Paper</p>
            </div>
        
            <div class="header-center">
                <h1 class="nyt-title">The New York Times</h1>
            </div>
            <div class="header-right">
                {% if user %}
                    <button id="account-btn">Account</button>
                {% else %}
                    <button id="login-btn">
                        <a href="/login">Login</a>
                    </button>
                {% endif %}
            </div>
        </div>
        </header>
    <!--
    
    div with class "grid-container" contains the content of the grid
    grid is used to split nested div containers into columns
    
    -->
    <main>
        <div class = "grid-container">

            <!-- all nested div containers below are used to define the content in each column of the grid -->

            <!-- left-col is used to define the left column of the grid -->
            <div class= "left-col"></div>
            <!-- mid-col is used to define the middle column of the grid -->
            <div class = "mid-col"></div>
            <!-- right-col is used to define the right column of the grid -->
            <div class = "right-col"></div>
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script>
        window.CURRENT_USER = {
            email: "{{user.email if user else ''}}"
        };
    </script>
    </body>
</html>